<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Franq - Iniciar sesión</title>
</head>
{% if not session['user_id'] %}
<body class="flex flex-col justify-center items-center min-h-screen bg-gray-50">
    <section class="flex flex-col items-center pb-8 pt-8 pl-10 pr-10 rounded-2xl shadow-xl shadow-gray-200 bg-white h-fit w-80">
        <h1 class="font-bold text-center text-2xl pb-5">Iniciar sesión</h1>

        <form action="{{ url_for('auth.login') }}" method="post" class="flex flex-col mb-5 w-full">
            <label for="usuario" class="text-gray-600 text-xs font-semibold mb-1">
                Nombre de usuario <span class="text-red-600 font-bold">*</span>
            </label>
            <input type="text" name="usuario" id="usuario" required
                   class="bg-gray-100 border border-gray-400 rounded-lg text-xs p-2 focus:outline-none focus:ring-2 focus:ring-violet-400 transition-all mb-4"/>

            <label for="password" class="text-gray-600 text-xs font-semibold mb-1">
                Contraseña <span class="text-red-600 font-bold">*</span>
            </label>
            <input type="password" name="password" id="password" required
                   class="bg-gray-100 border border-gray-400 rounded-lg text-xs p-2 focus:outline-none focus:ring-2 focus:ring-violet-400 transition-all">

            <button type="submit" class="mt-8 bg-violet-500 hover:bg-violet-600 border border-violet-700 rounded-lg text-white font-semibold py-2 transition-colors shadow-md active:transform active:scale-95">
                Iniciar sesión
            </button>
        </form>

        <p class="text-xs text-gray-600 font-semibold">
            ¿No posee cuenta? <a href="{{ url_for('auth.register') }}" class="text-blue-500 hover:underline font-bold">Registrarse</a>
        </p>
    </section>
</body>
{% endif %}
</html>